@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.nav {
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  height: 100;
  padding: 1rem;
  background-image: url("../assets/Header_Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  border-bottom-left-radius: 25% 50px;
}

.headline-intro {
  font-weight: 700;
  font-size: 48px;
  display: flex;
  letter-spacing: 0.37px;
  line-height: 60px;
  color: #091e42;
}

.headline-body {
  font-weight: 400;
  font-size: 20px;
  color: #344563;
}

.connect {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.twitter-icon:hover {
  background-color: palegreen;
}

.linkedin-icon:hover {
  background-color: palegreen;
}

.medium-icon:hover {
  background-color: palegreen;
}

.github-icon:hover {
  background-color: palegreen;
}

.angellist-icon:hover {
  background-color: palegreen;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 1px;
  margin: 1px;
}

.works-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-gap: 20px;
  align-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  background-color: white;
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
  width: 80%;
  height: auto;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  margin: auto;
  object-fit: fill;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.card-tags {
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
  border-radius: 8px;
  text-align: center;
  background: #ebebff;
  padding: 5px 10px;
}

.see-project-button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 30px;
}

.see-project-button:hover {
  background-color: blue;
  color: white;
}

.get-my-resume-button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
}

.get-my-resume-button:hover {
  background-color: black;
  color: white;
}

.about-me-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 93%;
  height: 100%;
  padding: 30px;
  border-top-right-radius: 25% 50px;
}

.expertise {
  display: flex;
  flex-direction: column;
}

.outer-flex {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  text-align: center;
  border-bottom: 1px solid #acb7c3;
}

.about-myself i {
  align-content: flex-end;
}

.about-body {
  font-weight: normal;
}

.framework {
  display: flex;
  text-align: center;
  flex: 1 1 auto;
  justify-content: space-between;
  border-bottom: 1px solid #acb7c3;
}

.framework p {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.skills p {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.language {
  display: flex;
  text-align: center;
  flex: 1 1 auto;
  justify-content: space-between;
}

.language p {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.outer-item {
  display: flex;
  text-align: center;
  flex: 1 1 auto;
  border-color: #acb7c3;
  border-radius: 8px;
  background-color: #f7f7f9;
  margin-bottom: 10px;
}

.outer-item p {
  font-weight: 500;
  font-size: 15px;
  color: #253858;
  line-height: 20px;
}

.about-myself {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: -6px -6px;
  border-top-right-radius: 25% 50px;
}
