@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.nav {
  display: flex;
  width: 100%;
  background-color: white;
  padding-top: 1%;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  padding-left: 1.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Header_Background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  border-bottom-left-radius: 25% 50px;
}

.headline-intro {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.37px;
  line-height: 60px;
  color: #091e42;
  padding-left: 15%;
}

.headline-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  color: #344563;
  padding-left: 15%;
  padding-right: 15%;
}

.connect-header {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.social-icons-header {
  display: flex;
  gap: 15px;
  padding: 1px;
  margin: 1px;
}

.connect-about {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
}

.social-icons-about {
  display: flex;
  gap: 15px;
  padding: 1px;
  margin: 1px;
}

.twitter-icon:hover {
  background-color: palegreen;
}

.linkedin-icon:hover {
  background-color: palegreen;
}

.medium-icon:hover {
  background-color: palegreen;
}

.github-icon:hover {
  background-color: palegreen;
}

.angellist-icon:hover {
  background-color: palegreen;
}

.works {
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.works-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-gap: 5rem;
  align-content: space-around;
}

.card {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3%;
  border: 1px solid #e5e5e5;
  border-radius: 3%;
}

img {
  display: block;
  margin: auto;
  object-fit: fill;
}

.card-tags {
  display: inline-flex;
  font-size: 12px;
  font-weight: 500;
  color: #6070ff;
  border-radius: 8px;
  text-align: center;
  background: #ebebff;
  padding: 5px 10px 5px 10px;
}

.see-project-button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
  margin-top: 30px;
}

.see-project-button:hover {
  background-color: blue;
  color: white;
}

.get-my-resume-button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
}

.get-my-resume-button:hover {
  background-color: black;
  color: white;
}

.contact-container {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../assets/contact_form_background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #6070ff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top-left-radius: 25% 50px;
}

.contact-title h2 {
  display: block;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-form {
  display: block;
  width: 100%;
}

.form-fields {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 1rem;
  gap: 1rem;
}

.form-item {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  padding: 0.5rem;
  color: #172b4d;
  border: 1px solid #cfd8dc;
  background: #fff;
}

.get-in-touch-button {
  border-radius: 8px;
  border: 1px solid #3d4ee4;
  width: 140px;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.03em;
  color: #396df2;
  background-color: white;
}

.get-in-touch-button:hover {
  background-color: #6070ff;
  color: white;
  border: 1px solid white;
}

@media (max-width: 767px) {
  .nav {
    justify-content: space-between;
    text-align: center;
  }

  .mobile-nav-buttons {
    padding-right: 0.5rem;
  }

  .desktop-screen {
    display: none;
  }

  .headline {
    height: 718px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .connect-header {
    padding-left: 15%;
  }

  .social-icons-header {
    padding-left: 15%;
  }

  .about-me-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-top-right-radius: 25% 50px;
    padding-bottom: 80px;
  }

  .about-header h2 {
    display: flex;
    font-weight: 700;
    font-size: 40px;
    align-items: center;
    color: #172b4d;
    padding-left: 1rem;
    padding-right: 35%;
    margin-bottom: 0;
  }

  .about-body {
    font-weight: 400;
    font-size: 16px;
    color: #344563;
    padding-left: 1rem;
  }

  .expertise {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .outer-flex {
    display: flex;
    flex-direction: column;
  }

  .skills {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #acb7c3;
  }

  .framework {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    justify-content: space-between;
    border-bottom: 1px solid #acb7c3;
  }

  .framework p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .skills p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .language {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .language p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .outer-item {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    border-color: #acb7c3;
    border-radius: 8px;
    background-color: #f7f7f9;
    margin-bottom: 10px;
  }

  .outer-item p {
    font-weight: 500;
    font-size: 15px;
    color: #253858;
    line-height: 20px;
  }

  .contact-body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .form-item {
    border-radius: 8px;
  }

  .bottom-line {
    width: 200px;
  }
}

@media (min-width: 768px) {
  .mobile-screen {
    display: none;
  }

  .desktop-nav-buttons {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
    gap: 1rem;
    padding-right: 0.5rem;
  }

  .desktop-nav-buttons:hover {
    text-decoration: underline;
  }

  .headline {
    height: 916px;
  }

  .card {
    display: flex;
    gap: 1.5rem;
  }

  .card:nth-child(2) {
    flex-direction: row-reverse;
  }

  .card:nth-child(4) {
    flex-direction: row-reverse;
  }

  img {
    max-width: 50%;
    max-height: 100%;
  }

  .connect-header {
    padding-left: 15%;
  }

  .social-icons-header {
    padding-left: 15%;
  }

  .contact-body {
    padding-left: 30%;
    padding-right: 30%;
  }

  .form-fields {
    padding-left: 35%;
    padding-right: 35%;
  }

  .get-in-touch-button {
    align-self: center;
  }

  .bottom-line {
    display: none;
  }

  .about-me-container {
    display: inline-flex;
    background-color: white;
    width: 100%;
    height: 100%;
    border-top-right-radius: 25% 50px;
  }

  .about {
    width: 40%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 2%;
  }

  .about-header h2 {
    flex-direction: column;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    padding-right: 80%;
  }

  .about-body {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .expertise {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    padding-top: 7%;
    padding-bottom: 5%;
  }

  .outer-flex {
    display: flex;
    flex-direction: column;
  }

  .skills {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #acb7c3;
  }

  .framework {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    justify-content: space-between;
    border-bottom: 1px solid #acb7c3;
  }

  .framework p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .skills p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .language {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  .language p {
    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }

  .outer-item {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
    border-color: #acb7c3;
    border-radius: 8px;
    background-color: #f7f7f9;
    margin-bottom: 10px;
  }

  .outer-item p {
    font-weight: 500;
    font-size: 15px;
    color: #253858;
    line-height: 20px;
  }
}
